
@{
	ViewBag.Title = "Graphic Design";
}

<section id="content-expertise">
	<div id="expertise-header-graphics">
		<p class="expertise-header">GRAPHIC DESIGN</p>
	</div>
	<br />
	<p>
		We like keeping up with all of the current graphic design trends and concepts.
		Keeping your design, branding and overall marketing up to speed with what your clients/customers expect to see is phenomenally important.
		Design concept and philosophy are constantly changing to meet the needs of our constantly changing society.
		Don’t let your business fall behind, let SilverMoon Creative Design handle all of your graphic design needs.
	</p>
	<p>
		The visual impact of professional quality graphic design in every marketing resource is important to the success of any person, business or organization.
	</p>
	<p>
		Your logos, brochures, banners, and advertisements must be something that make you stand out among your competition! With that in mind we strive to incorporate your vision of design with our creativity.
		This is to insure that the proper branding process allows your name to have a lasting impression on the web, in print, and in other places where you might employ your graphics.
	</p>
	<br />
	<p>
		<center><b>A full list of our graphic design services is below - For your success in business.</b></center>
	</p>

	<h4>Logo</h4>
	<hr />
	<p>
		In-house designers
	</p>
	<p>
		Your business logo deserves to be designed by someone who gets your brand.
		Our expert in-house designers take the time to learn about you and your business to create a logo that perfectly represents your company.
	</p>
	<p>
		Multiple design concepts
	</p>
	<p>
		Receive multiple, original concepts. Choose your favorites, suggest changes, and get revisions according to your specifications. 
		Our personalized service ensures you get a design that is the best fit for your business.
	</p>
	<br />
	<h4>Brochure Design</h4>
	<hr />
	<p>
		Brochures are also another cornerstone to most businesses. While your website is your online brochure, it is still important to have an offline brochure for your walk in customers, sales people or to leave around town in order to create brand/product awareness.
	</p>
	<p>
		We design many types of brochures including gate fold, bi-fold, tri-fold, quad-fold, die cut, z-fold or even Jedi-fold. Most of our brochure design packages include full color design, printing and shipping to your location all for one flat rate. 
		Brochures are one of the most cost effective printed marketing items available.
	</p>
	<br />
	<h4>Advertisement Design</h4>
	<hr />
	<p>
		Our mission is to assist you with growing your business through   sustainable marketing strategies, initiatives and tools. 
		We are competitive with our rates while delivering stupendous quality services and products.
	</p>
	<p>
		If you currently have or want to start an advertising campaign, SilverMoon Creative Design can design and execute your ads/ad campaigns for you. 
		We can design and implement your Facebook Ads, Google Ads, Bing Ads, Yahoo Ads, Craigslist Ads, Print Media Ads, Mailed Ads, Magazine Ads, Newspaper Ads and more. 
		We can also provide you with competitively priced printing for your print media ads! Our ad design will set you out from your competition as we use the most current design tools and concept ideas.
	</p>
	<p>
		We use only the latest versions of <b>Adobe Photoshop</b>, <b>InDesign</b>, <b>Adobe Professional</b> and <b>Illustrator</b> to create your ads.
	</p>
	<br />
	<h4>Web Site Mock-Ups and Website Flowcharts/Sitemap</h4>
	<hr />
	<p>
		Wireframes, layouts, workflows, site maps and so on.  Often we need to figure this out before we or even another company starts your website design. 
		This is what is says it is, we create a general sample of what your website might look like.
	</p>
	<p>
		Typically, this one to two pages of design partnered with a website flow chart/sitemap to give you an idea of the design and flow we are considering for your website. 
		We then can go back and forth on any general changes you want before we start your actual website design and development.
	</p>
	<br />
	<h4>Web Graphic and Ad Design</h4>
	<hr />
	<p>
		We can bring your designs to the next level even if you already have an existing website. 
		Should you want some new image slider graphics, banners, on page graphics, or spruce up your online ads, we are your one stop shop. 
		Let us create what you have in mind and bring your vision into reality. 
		Our highly skilled design team will handle it for you quickly and efficiently.
	</p>
	<br />
	<h4>Banner Design</h4>
	<hr />
	<p>
		The most common uses we see for banners are by sports teams, special events, local city events and contests. 
		Whether you need a 3 x 5 banner or a 10 x 40 banner we can design and print it for you. We can also handle the printing and delivery. 
		Local installation is also available to clients and customers in North Carolina.
	</p>
	<br />
	<h4>Business Card Design</h4>
	<hr />
	<p>
		One of the cornerstones of any business is a business card. Even in the digital age almost every business, company or individual still needs to have some of these little buggers in their back pocket. 
		But how about we kick it up a notch with rounded corners, matted finish, lux finish, ultra-thick, folding or some other cool feature to make you stand out from the rest of your competition.
	</p>
	<p>
		Typically, we will give you a free business card design with pretty much any design or website design package. 
		We can also handle the printing, shipping for you as well, with very competitive and fair pricing.
	</p>
	<br />
	<h4>Postcards/Mailer Design & Mailing Service</h4>
	<hr />
	<p>
		Print and mailed marketing is still an element of any successful marketing plan. Our goal is to create and design something that will stand out so much so that it will be looked at and considered by your potential customer/client before it is tossed. 
		Coupled with massive amounts of creativity and use of modern technology tools, we can create the best possible mailing campaign for you and your company.
	</p>
	<p>
		We can run the EDDM (every door direct mail) for you or run addresses right onto the postcards for you. All we would need is your address list.
	</p>
	<p>
		Postcards are also a great size for a hand out marketing tool!
	</p>
	<br />
	<h4>Poster Design</h4>
	<hr />
	<p>
		Poster design for political candidates, special events, concerts, theaters, plays, musicals, recognitions, announcements, lost & found and more. We offer a wide range of poster sizes, printing and designs to suit your poster needs. We take it personally, every project we design. 
		You will not be disappointed with the posters we design for you or your company.
	</p>
	<br />
	<h4>Powerpoint and Keynote Design</h4>
	<hr />
	<p>
		Maybe you are a part of a business networking group… or several business networking groups, as we are. 
		You would really like to share your business with the group in a meaningful and memorable way. 
		SilverMoon Creative Design, Inc. can create a powerpoint or keynote presentation that will really show off your business or idea in a fresh, 
		new way. As long as you have a way to show the presentation, we can create it for you complete with interactive graphics and text. 
		We can also help you and guide you through the content development process. 
		Learn more about our content development services here.
	</p>
	<br />
	<h4>Craigslist, Angieslist, or Backpage Ad Design</h4>
	<hr />
	<p>
		Depending on your business type, you may want to consider some free advertising on Craigslist, Angieslist, or Backpage. 
		We can design your ads and even develop your text content for you as well. 
		If you are a regular poster to Craig’s list, Angies List or Back Page you already know that your posts get 10 times more visits if you have a nice photo or graphic along with some custom html code. 
		We can design your ads and even develop your text content for you as well!
	</p>
	<br />
	<h4>Event Invitation</h4>
	<hr />
	<p>
		With that big celebration around the corner you need to get the word out. We can design your printed and digital event invitations. Of course you could always just use Facebook and create an event to invite all your friends too but half of them won’t even see it. 
		After it is over they will ask why weren’t they invited so lets create and design a real nice invitation that can be mailed or shared by email or on social media to get the word out.
	</p>
	<p>
		Why not have us create an online/website RSVP for you? See how great SilverMoon Creative Design is.
	</p>
	<br />
	<h4>Wedding Invitation & Website Design</h4>
	<hr />
	<p>
		Planning on getting married in 6 months, 1 year, and 2 years? One of the biggest puzzle pieces for your wedding is getting your save the dates, invitations, RSVP Cards, directions, registry cards, maps, programs and everything else we cannot even think of designed and printed in time.
	</p>
	<p>
		SilverMoon Creative Design realize how important this it to you and we pay close attention to every detail related to your special day, Let us help you from start to finish when it comes to all your wedding design needs.
	</p>
	<p>
		So nowadays a lot of folks do digital invitations and use online RSVP to save money and time. We can not only design all your print material, we can also design an interactive, fun, easy to use website for your special wedding day. 
		Complete with online RSVP, maybe some photos, online forms, a bio and story about your engagement and whatever else you might want on it.
	</p>
	<br />
	<h4>Layout Design</h4>
	<hr />
	<p>
		SilverMoon Creative Design can layout your entire workflow, project and design with ease. Most projects are priced at a per page rate for layout design. This pricing is dependent on the complexity, turn around time, and design needed of your project. 
		We have experts in layout design for magazines, newspapers, catalogues, one sheets, price sheets, trade show pamphlets, coupon books, brochures, restaurant menus, restaurant to-go menus, restaurant sluggers, and all other types of print media not mentioned in the list here.
	</p>
	<br />
	<h4>Magazine Design</h4>
	<hr />
	<p>
		For those who still produce and enjoy reading a tangible item that you can touch and feel, this is for you. 
		The anti “i” device design medium. We can design your magazine including complete layout, content assistance, branding and even consult with you on your marketing for your magazine! 
		While not common, we are more than happy to tackle any graphic design or layout project for you. 
		We can also provide you with connections or several printing quotes for your magazine and its distribution.
	</p>
	<br />
	<h4>Sign Design</h4>
	<hr />
	<p>
		We can handle graphic design for just about any type of sign. 
		If you already have your sign style and sign maker picked out, we can work directly with your sign maker on the required design specs and file formats needed to produce the best sign possible.
	</p>
	<br />
	<h4>Restaurant Menu Design</h4>
	<hr />
	<p>
		We have enjoyed designing well over 100 different fully customized restaurant menus for a wide range of restaurants. 
		Every restaurant is unique and therefore your menu should be unique as well. Our extensive experience in restaurant menu engineering ensure that the latest menu design techniques and concepts will produce the greatest return results. 
		In addition to the design, we can also help you with item placement, food photography, and make overall marketing suggestions for your restaurant. 
		In addition to the design we offer a wide selection of menu covers and sleeve/printing and finishing options.
	</p>
	<br />
	<h4>Restaurant To-Go Menu Design</h4>
	<hr />
	<p>
		Let’s face it lots of folks like to eat their food at home! This is the mini-menu of restaurant menus, based obviously on your main menu design if you have one. 
		This came about with the marvelous invention of the restaurant to-go menu, which happens to fit nicely in a kitchen drawer, next to the phone, in the glove box or on the refrigerator. 
		This is a great way for your restaurant patrons to order out.
	</p>
	<p>
		These typically come in a tri-fold or a quad fold format, sometimes we do special custom die cut designs as well. 
		We can provide everything from design to printing and have them shipped directly to your door.
	</p>
	<p>
		In our restaurant menu design samples you will see several of our to-go menu designs.
	</p>
	<br />
	<h4>Restaurant Slugger Design</h4>
	<hr />
	<p>
		Sluggers are a great marketing tool for restaurants. Typically a slugger accompanies a primary restaurant menu and can display your current specials or hot menu items. 
		They might also display your drink or dessert menu. These are usually either inserted into your menu pages or with the menu. 
		The reason we design sluggers is because they are easily changed and are cost effective versus replacing an entire menu. Sluggers come in all shapes, sizes and styles. 
		We are happy to help you design any sluggers you might need for your restaurant.
	</p>
	<br />
	<h4>Restaurant Table Tent Design</h4>
	<hr />
	<p>
		The premium marketing tool for restaurants is the table tent. There are a wide variety of tents that can be used to display specials, drinks, create social media connections and more. 
		Our marketing team can help design and implement successful table tents in your restaurant. 
		As usual you can find some of our recent table tent designs in our restaurant portfolio found here.
	</p>
	<br />
	<h4>Door Hanger Design</h4>
	<hr />
	<p>
		It has probably been a long time since you have had something hung on your door knob. 
		In many areas they are no longer legal, so you will want to check your local laws before we design and print a door hanger for you.
	</p>
	<p>
		Door hangers can be great if you’re trying to target a certain area or demographic with your ideas or products. 
		Also if you are trying to avoid postage costs, paying a poor broke teenager or college student to hang these for you is a very affordable option.
	</p>
	<br />
	<h4>Bool Layout and Cover Design</h4>
	<hr />
	<p>
		Occasionally we have an author approach us to do book design and layout. We can handle your book design and complete layout of your pages as needed. 
		We will then of course talk about design and concept before we get started. We can design your book layout and cover to fit your publisher’s specifications. 
		You will want to be positively sure that you are at your final draft before we start, as making corrections after we have started can be very time consuming and costly.
	</p>
	<br />
	<h4>Envelope Design</h4>
	<hr />
	<p>
		If you conduct a lot of mailing or mailings as a part of your everyday business, then it is a good idea to brand and put the envelopes to use for you as well. 
		With custom printed and colored envelops you can really stand out in the mailbox and increase your open rates or your clients responsiveness. 
		Let us design and print some great envelopes for you today! We offer a wide ranges of color and layout options. 
		Typically envelope design is bundled with business card and letterhead design.
	</p>
	<br />
	<h4>Letterhead Design</h4>
	<hr />
	<p>
		So you have a great logo design done by SilverMoon Creative Design already, right? We have found that some businesses still need letterhead for various reasons, although most do not use letterhead anymore.
		Perhaps you need it for legal reasons or maybe to send out special notes to customers? We would be happy to design your letterhead for you. 
		Typically we design letterhead in a package with business cards and envelopes.
	</p>
	<br />
	<h4>Document Design</h4>
	<hr />
	<p>
		We design and format documentation used for presentations, tracking, work ease and maximizing productivity.
		We deliver exceptional managed services, strategic planning and consultation to optimize your business' technology ecosystem.
	</p>
	<br />
	<h4>Presentation Folder Design</h4>
	<hr />
	<p>
		Some instances require you to spoof up your presentation for a potential customer, or employer. Fully branded, full color/designed presentation folders are the way to go. 
		This is an especially useful printed piece if you are trying to sell a particular product to retail or other types of sales outlets. 
		Used in conjunction with branded business cards, letterhead and product brochures, this is definitely the way to go.
	</p>
	<p>
		SilverMoon Creative Design, Inc can design your folder, and all material to be contained within the presentation. We can also provide the printing for you as well. 
		Keep in mind a full presentation folder with all materials inside is quite an investment in graphic design work and printing, which can pay off in the long run if your application is appropriate
	</p>
</section>

@section scripts
{
	<script type="text/javascript" src="~/scripts/functions.js"></script>
}

