
@{
	ViewBag.Title = "Marketing/Campaign Tools";
}
<section id="content">
	<h2>Marketing/Campaign Tools</h2>
	<a href="" id="mob-nav">
		<span class="slice1"></span>
		<span class="slice2"></span>
		<span class="slice3"></span>
		<p>Open Menu</p>
	</a>
</section>
@section scripts
{
	<script type="text/javascript" src="~/scripts/functions.js"></script>
}
