
@{
	ViewBag.Title = "Photography";
}
<section id="content-expertise">
	<div id="expertise-header-photography">
		<p class="expertise-header">PHOTOGRAPHY</p>
	</div>
	<br />
	<p>
		SilverMoon Creative Design offers a wide variety of Photography Services including: Headshot Photography, Small Wedding Photography, Family Photography, Boudoir Photography among many others.
	</p>
	<p>
		For information and pricing about the different types of Photography Packages offered by SilverMoon Creative Design, please contact us ny phone or by email.
		If you have any questions or wish to discuss a customized photography package, please contact Glenn directly at glenn.espiritu@silvermooncreativedesign.comor visit the contact us page on the website.
	</p>
	<br />
	<h4>
		Family Photography
	</h4>
	<hr>
	<p>
		SilverMoon Creative Design have professional photographers based in the Charlotte- Mecklenburg and Union providing Family Photography.
		SilverMoon Creative Design specializes in capturing the inner essence of  everyone she photographs, from newborns, to families to the high school sweethearts celebrating their 50th wedding anniversary.
		SilverMoon Creative Design wants to work with you to capture the essence of your family's special events and occasions.
		Our photographers can work with you for one special event and customized personal portrait and family photograph packages where we can photograph your family members on a monthly or quarterly basis to "capture the special moments of life" that you don't want to let slip away.
		These Personal Family Photograph packages are highly sought after by families with newborns and young children who want to document the first few years of their children's life.
	</p>
	<p>
		Basic Photography Session - $200.00
		<ul>
			<li>includes 1-2 hour photography session on 1 location</li>
			<li>Password protected online viewing gallery</li>
			<li>5- 8x10 print of the best photos chosen by the photographer</li>
			<li>Over 40 edited photos on a flash drive or CD</li>
		</ul>
	</p>
	<div style="padding:10px;">
		<div class="row" style="border:2px solid #424141; ">
			<div class="col-lg-12" style="padding:15px">
				<h4>SENIOR PORTRAITS</h4>
				<p>
					SilverMoon Creative Design offers unique and personalized senior portraits at the convenience of your own home, outdoors or where it is most comfortable and convenient for you. We do theme pictures and find shooting location perfect for your theme.
					No limit poses and choose the best one! We can also arrange for transportation for just a nominal fee.
				</p>
			</div>
			<div class="col-lg-12" style="background-color:#eeeeee; padding:15px">
				<h4>ENGAGEMENT PHOTOGRAPHY</h4>
				<p>
					If you are looking for some beautiful shots to commemorate your engagement, decorate your wedding, and include in your invitations, we can help!
					You can choose the location or take recommendations from our experienced photographers. If you want to do something crazy like a photo journaled backpacking trip to where you first fell in love or an engagement photo shoot at 14,000 feet, we're game for that too!
				</p>
				<p>
					Trash the dress...what?  As Wiki says, a trash the dress photo shoot "contrasts elegant clothing with an environment in which it is out of place."  You can imagine the fun to be had with this!
					<ul>
						<li>Unlimited high resolution photographs, all processed through basic editing and provided to you with no watermarks.  Usually between 80-100 photographs for a 2 hour session.</li>
						<li>A gallery website with all of your photos in high resolution, unlimited downloads of all photos, and professional print options.</li>
						<li>Your choice of location/locations, or we can recommend some great places if you are looking.</li>
						<li>Adventure engagement sessions at no upcharge!  Some of our photographers love adventure and are willing to go on long hikes or even overnight backpacking trips with you and your partner to photograph the experience.  No guarantees, but this is a passion and we love to make it work.</li>
					</ul>
				</p>
			</div>
			<div class="col-lg-12" style="padding:15px">
				<h4>PREGNANCY POSTRAITS</h4>
				<p>
					Pregnancy is a time of excitement and we at SilverMoon Creative Design understand that you want to capture the anticipation of one of the most unforgettable moments of your life.
					For that reason, we specialize in maternity portraits as a way for you to show your excitement and love to your upcoming daughter or son.
				</p>
				<p>
					While maternity photography can seem intimidating to some women, the friendly, experienced staff at SilverMoon Creative Design are dedicated to capturing genuine smiles in our maternity photos and to making expectant mothers feel and look beautiful.
				</p>
				<p>
					Here are some maternity photography tips so you can show off your special glow of joy:
					<ol>
						<li><b>Prepare your maternity photography poses</b></li>
						Before your actual photo session, think of maternity photography ideas and a series of poses you might like to do.
						Knowing ahead of time how you will be posing will help make you feel more comfortable during your maternity portrait session.
						<li><b>Come in when your baby bump is bigger</b></li>
						The whole idea of maternity photography is about the bump! So come in around six months or after when your bump is noticeable and will stand out in your maternity photos.
						<li><b>Include other family members</b></li>
						There are never any sitting fees or additional charges, so everyone in the family should plan to be in the session, this includes dad, other children, grandparents, cousins, parents, other relatives and friends.
						<li><b>Use props</b></li>
						Think of props to use in your portrait session that will emphasize your bump but also carry meaning. These props could include flowers, baby shoes, building blocks to spell your baby's name, a special toy or blanket - the sky's the limit!
					</ol>
				</p>
			</div>
		</div>
	</div>
	<br />
	<h4>Newborn Photography</h4>
	<hr />
	<h4>CELEBRATE YOUR STORY THROUGH PHOTOGRAPHY</h4>
	<p>
		Life is made up of millions of tiny moments, constantly fluid and ever changing. We understand how evident this is in our children, who transform and change before our eyes.
		At Little Nest Portraits, we recognize the preciousness of time, and how difficult it is to stop, pause and capture it.
	</p>
	<p>
		Being part of our SilverMoon Creative Design family gives you the opportunity to easily capture your family's spirit, creating art from the present moment.
	</p>
	<p>
		SilverMoon Creative Design is the choice for baby portraiture. We bring experienced, professional photographers into any location you choose to capture your baby's first photograph with a natural, artistic style.
		We believe that babies look the most beautiful when being held in their parents' arms or cuddled in one of their own baby blankets.
		SilverMoon Creative Design captures this beauty by using only "real things"...natural window light, professional photographers and professional grade SLR digital cameras.
	</p>
	<p>
		Newborns aren't the only subject we love to photograph... we love to capture all of the milestones of family life.
		Using a photojournalistic style approach to photography, we capture your baby learning to stand, your 5-year old riding his bike with no training wheels,
		and your teenager's last photograph before she becomes an adult.
	</p>
	<p>
		We look forward to working with you and to capturing photographs that show the "real" beauty of your family.
	</p>
	<br />
	<h4>Boudoir Photography</h4>
	<hr />
	<p>Seductive</p>
	<p>Romantic</p>
	<p>Visually Stimulating</p>
	<p>Naughty</p>
	<p>Glamorous</p>
	<p>Erotic</p>
	<p>Artistic</p>
	<p>Flirty</p>

	<p>
		"Boudoir" is a late 18th century French word that means a woman's bedroom or private sitting space.
		Boudoir Photography captures the soft, sensual elegance of a real woman's shapes and curves.
	</p>
	<p>
		SilverMoon Creative Design can customize a Boudoir Photography Session to meet all of your needs and desires,
		allowing you to create the images that you desire. Boudoir Photography usually includes the element of implied nudity,
		providing a teasing glimpse into a woman's inner sexuality. It is up to you, the client, to determine how much or how little clothing you are wearing for your Boudoir photo shoot.
		Some women bring along a wardrobe of lingerie, other women prefer to wear nothing at all, and many women fall somewhere in between; it all depends on your personal desires.
	</p>
	<p>
		Boudoir Photographs are usually taken in a woman's own bedroom, although they can also be taken in a luxury hotel suite.
		Our photographers are professionals and will make you feel comfortable the entire session while guaranteeing great memorable shots!
		Boudoir Photography Packages
	</p>
	<p>
		SilverMoon Creative Design offers a variety of different Boudoir Photography Packages including:
		<ul>
			<li>Individual Boudoir Photo Sessions</li>
			<li>Couples Boudoir Photo Session</li>
			<li>Boudoir Photo Sessions (these make for a very unique Bachelorette Party idea or non-traditional Girls Night Out evening)</li>
		</ul>
	</p>
	<p>
		Boudoir Photography Packages make great gifts to give to the special woman in your life - or a woman can surprise the man in her life with the photographs from a Boudoir Photo session as a gift.
		Either way, you can never go wrong with buying a Boudoir Photo Session as a gift for your loved one!
	</p>
	<p>
		Contact SilverMoon Creative Design to arrange your custom Boudoir Photo Package!
	</p>
	<br />
	<h4>Wedding Photography</h4>
	<hr />
	<p>
		With wedding photography, it's all about the moments.  A professional wedding photographer not only has the high end equipment and practiced talent to capture and edit photos from your wedding;
		they also understand that these moments are both natural and created.
		They know that both types must be balanced to allow you to enjoy your wedding to the fullest while still having studio quality photographs to commemorate this special day.
		Our photographers are professionals.  They are skilled at capturing the random moments that will put grins on your families' faces years later and at posing shots beautiful enough for a bridal magazine without keeping you from the celebration for too long.
	</p>
	<p>
		Our photography service includes a professional lead photographer who will be in communication with you prior to the wedding.
		They will be the ones directing, capturing, and editing all of your moments from the night.
		All of the photos they take will be edited and provided to you online and on a flash drive with full copyrights.
		Your photographer will also artistically edit a number of "album" shots to make those pictures really stand out.
		Secondary photographers are available to catch more of those random moments and smiles from the evening.
	</p>
	<p>
		SilverMoon Creative Design’s approach to Wedding Photography is unique - SilverMoon Creative Design charges by event and then in turn gives the couple a CD or flash drive of all edited images.
		We can customize your wedding package to best fit your budget, our packages include unlimited digital shots, photo books and album, on-site slide show and among other things.
		Please contact us by phone or by email and by visiting our contact page on our website for more details.
	</p>
	<br />
	<h4>Portrait and Headshots</h4>
	<hr />
	<p>
		As photographers we understand the value of your image.  Presenting yourself well and making a great first impression is key today and with social media sites like LinkedIn and
		Facebook being popular ways people network and connect, having a great photo of yourself is critical.
	</p>
	<p>
		We want to create an image for you that represents you and your company or brand well.  We have become the preferred photographers for various organization.
	</p>
	<p>
		Since everyone is unique, we work to get your personality to shine through and can adjust to fit the type of image you want to create and represent yourself with.
		We can bring our mobile studio into your office or create more dynamic portraits on location as well.
	</p>

	<h3>THE LEADER IN EVENT COVERAGE</h3>
	<p>
		We understand the value of your event photography and have experience discretely covering intimate private events but can also scale up to shoot multi-city launch parties and incentive programs across multiple cities with our team of photographers.
	</p>

	<h3>PRIVATE AND EXCLUSIVE EVENTS</h3>
	<p>
		Our roster of vetted photographers in most major metropolitans allows us to serve a range corporate and private clients across the nation for their most important events. Whether you go with an assigned photographer or pick one of our top shooters, you’ll benefit from:
		<ul>
			<li>First class customer support</li>
			<li>Transparent and simple online booking options</li>
			<li>A variety of service level and pricing options</li>
			<li>Guaranteed availability in major metropolitan cities*</li>
		</ul>
	</p>

	<h3>CONFERENCES AND EXTENDED COVERAGE</h3>
	<p>
		As an agency, our core strength is serving clients manage complex events that require multiple services and an array of delivery needs. We’ve honed our team to help you succeed by providing:
		<ul>
			<li>Dedicated Producer to manage your project</li>
			<li>Scalability of talent across jobs/cities</li>
			<li>Highly efficient cloud software to track details</li>
			<li>One stop shop for a myriad of services</li>
		</ul>
	</p>
	<p>PR & Event Marketing</p>
	<p>
		Our goal is maximizing the marketing exposure of your event with photography and video. We can be your turnkey partner by providing:
		<ul>
			<li>Real-time delivery of images to guests</li>
			<li>Brand Placement on images/videos</li>
			<li>Real-time delivery to social media networks</li>
		</ul>
	</p>
	<a href="" id="mob-nav">
		<span class="slice1"></span>
		<span class="slice2"></span>
		<span class="slice3"></span>
		<p>Open Menu</p>
	</a>
</section>
@section scripts
{
	<script type="text/javascript" src="~/scripts/functions.js"></script>
}

