
@{
    ViewBag.Title = "Sound Equipment Rental";
}
<section id="content-expertise">
    <div id="expertise-header-softwaredesign">
        <p class="expertise-header">&nbsp;</p>
    </div>
    <br /><br /><br />
    <h2>WHAT WE DO AT SilverMoon Creative Design</h2>
    <p>Our mission at SilverMoon Creative Design is to become the most respected, trusted, and preferred software consulting firm in the industry by providing only the highest quality services to our clients at an affordable price.</p>
    <p>We go to great lengths to find, attract, hire, motivate, manage, and retain the best software engineers and we offer them on demand to our clients at an affordable price and we handle all of the management, administration, infrastructure, and training so our clients can focus on running their businesses.</p>
    <p>We have some of the happiest and most productive developers in the land with a commitment to telecommuting and an attrition rate of less than 5% (that’s better than Google).</p>
    <p>So, whether you are looking to completely outsource a software project, or add world-class software professionals to your team, we will deliver.</p>
    <h3>WE SPECIALIZE IN:</h3>
    <ul>
        <li>Web Application Development</li>
        <li>Mobile App Development</li>
        <li>Software-as-a-Service (SaaS) Development</li>
        <li>Cloud Application Development</li>
        <li>Desktop Application Development</li>
        <li>Application Modernization</li>
        <li>Agile Project Management (Scrum)</li>
        <li>Systems Integrations</li>
        <li>Web Services / API Development</li>
        <li>Database Development</li>
        <li>Business Intelligence / Reporting Development</li>
        <li>UI / UX Design</li>
        <li>Business / Requirements Analysis</li>
        <li>Software Testing (QA)</li>
        <li>DevOps / Release Management</li>
    </ul>
    <br /><br /><br />
    <p>Our team is skilled at developing solutions using any modern programming language. Our pre-built code library, detailed specs illustrated design method, and quick development process make it possible for us to build software solutions in up to 40% less time with 100% precision. So no matter how “crazy” your idea seems, be it a quirky consumer application or complex business software, we can provide the design, technology, team, and methodology to quickly bring it to life.                                                                                                      </p>
    <p>Our design process is iterative, creative, detailed, and yet still fast. We work with you to capture your vision to ensure desired user experiences are met. Our attention to detail as we move through creating specifications and business rules allows us to catch any problems early on and can often introduce new features for an improved experience and outcome. Using this method, common user interface elements, usability testing, and experienced software analysts and designers, our design process produces amazing results. All we need to get started is a list of features.    </p>
    <p>Our development team is the best in the industry. We push the technology envelope every day. We have expertise with a broad range of technologies such as JavaScript, HTML 5, PHP, .NET, Python, Ruby, and Java. We also develop for tablets and mobile devices specializing in iOS and Android.                                                                                                                                                                                                                                                                                                  </p>
    <p>Our expert Quality Assurance (QA) Team helps to ensure that we always deliver “pixel perfect” software using a continuous testing process. We also employ a wide range of industry-standard testing tools that leverage established methodologies to provide your organization with superior quality and integrity. Our QA team is 100% QAI Certified.                                                                                                                                                                                                                                            </p>
    <p>Sharing data between disparate systems can be accomplished through well-written data interfaces and web services. Surge has developed a broad range of interfaces between various software, devices and platforms. We use the latest technologies to connect systems (both on-premise and web-based), share data, simplify and automate interoperability, and standardize data exchanges across the organization. Whether you are trying to integrate web-based applications or internal systems our experienced consultants can help.                                                            </p>

    <br /><br /><br />
    <section id="portfolio" class="clearfix">
        <center><h1 class="tungsten">Software Portfolio</h1></center>
        <article class="box grid">
            <a href="http://www.carringtonplacenursingcenter.com/" target="_blank" style="background-image:url(../../Images/softwaredesign/car.jpg); background-size:contain;"
               title="Wedding #1">
                <div class="content">
                    <h2><strong>Carrington</strong></h2>
                    <p>Health Care</p>
                </div>
                <div class="fade" style="background-color:#303030;">
                    <ul>
                        <li>Websites</li>
                    </ul>
                </div>
                <span></span>
            </a>
        </article>
        <article class="box grid">
            <a href="http://www.thegilchristlawfirm.com"  target="_blank" style="background-image:url(../../Images/softwaredesign/gcl.jpg); background-size:contain;"
               title="Wedding #1">
                <div class="content">
                    <h2><strong>Gilchrist Lawfirm</strong></h2>
                    <p>Attorney Services</p>
                </div>
                <div class="fade" style="background-color:#303030;">
                    <ul>
                        <li>Websites</li>
                    </ul>
                </div>
                <span></span>
            </a>
        </article>
        <article class="box grid">
            <a href="https://itunes.apple.com/us/app/careoptima/id1197422346?mt=8"  target="_blank" style="background-image:url(../../Images/softwaredesign/cop.jpg); background-size:contain;"
               title="Wedding #1">
                <div class="content">
                    <h2><strong>Care Optima</strong></h2>
                    <p>Health Care</p>
                </div>
                <div class="fade" style="background-color:#303030;">
                    <ul>
                        <li>iOS Application</li>
                    </ul>
                </div>
                <span></span>
            </a>
        </article>
        <article class="box grid">
            <a href="http://www.driveoffaith.com" target="_blank" style="background-image:url(../../Images/softwaredesign/dof.jpg); background-size:contain;"
               title="Wedding #1">
                <div class="content">
                    <h2><strong>Drive Of Faith</strong></h2>
                    <p>Mobility Services</p>
                </div>
                <div class="fade" style="background-color:#303030;">
                    <ul>
                        <li>Websites</li>
                    </ul>
                </div>
                <span></span>
            </a>
        </article>
    </section>
    <a href="" id="mob-nav">
        <span class="slice1"></span>
        <span class="slice2"></span>
        <span class="slice3"></span>
        <p>Open Menu</p>
    </a>
</section>
@section scripts
{
    <script type="text/javascript" src="~/scripts/functions.js"></script>

    <style>
        h1 {
            padding-top:15px;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .mytitle {
            padding-top:20px;
            text-transform:uppercase;
            color: grey;
            font-size: 20px;
        }
        .mytitle2 {
            padding-top: 20px;
            text-transform: uppercase;
            color: grey;
            font-size: 16px;
        }

        h3 {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

            h3:hover, a:hover {
                opacity: 0.7;
            }
    </style>
}


