
@{
	ViewBag.Title = "Sound Equipment Rental";
}
<section id="content-expertise">
	<div id="expertise-header-ser">
		<p class="expertise-header">PA SYSTEM AND SOUND SYSTEM RENTALS</p>
	</div>
	<br />
	<p>
		For professional meetings and events events, choose our PA system rentals, which include speakers, cabling, and your choice of microphone(s) whatever the venue size and location may be.
		Browse our sound system rental packages below. We offer custom solutions!
	</p>
	<div class="grey-container" style="padding:15px 0">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-3">
					<b>Private dining room package</b>
				</div>
				<div class="col-lg-3">
					<b>Applications:</b>
					<ul>
						<li>Dinner Meetings</li>
						<li>CME</li>
						<li>Sales Presentations</li>
					</ul>
				</div>
				<div class="col-lg-3">
					<b>Includes</b>
					<ul>
						<li>(1 or 2) speakers on stands</li>
						<li>(1) wired or wireless microphone</li>
						<li>all required cabling</li>
						<li>interface to computer or other outside audio source</li>
						<li>Delivery, set-up and meet & greet.</li>
					</ul>
					<p>Consider adding</p>
					<ul>
						<li>onsite technician</li>
						<li>laptop, projector & screen, conference phone</li>
						<li>iPads, tablets, mobile technology</li>
						<li>webcast production & management services</li>
					</ul>
				</div>
				<div class="col-lg-3">
					Price starts at $495.00
				</div>
			</div>
		</div>
	</div>
	<div style="padding:15px 0">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-3">
					<b>Banquet room sound package</b>
				</div>
				<div class="col-lg-3">
					<b>Applications:</b>
					<ul>
						<li>Dinner Meetings</li>
						<li>Galas</li>
						<li>Special Events</li>
					</ul>
				</div>
				<div class="col-lg-3">
					<b>Includes</b>
					<ul>
						<li>(4) speakers on stands</li>
						<li>(2) wired or wireless microphone</li>
						<li>(1) 4-input mixer</li>
						<li>interfaces to outside audio sources (presentations, video, music, remote participants)</li>
						<li>all required cabling</li>
						<li>onsite audio technician</li>
						<li>delivery, set-up & strike</li>
					</ul>
					<p>Consider adding</p>
					<ul>
						<li>podium</li>
						<li>additional microphones</li>
						<li>projector and screen</li>
						<li>monitors or external displays</li>
						<li>iPads / mobile technology</li>
						<li>presentation equipment</li>
					</ul>
				</div>
				<div class="col-lg-3">
					Price starts at $1,160.00
				</div>
			</div>
		</div>
	</div>
	<div class="grey-container" style="padding:15px 0">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-3">
					<b>Meeting room sound package</b>
				</div>
				<div class="col-lg-3">
				</div>
				<div class="col-lg-3">
					<b>Includes</b>
					<ul>
						<li>(2) speakers on stands</li>
						<li>(2) wired or wireless microphones</li>
						<li>(1) 4-input mixer</li>
						<li>interfaces to external audio sources (i.e. presentations, videos, music, remote participants)</li>
						<li>all required cabling</li>
						<li>delivery, set-up & strike</li>
						<li>on-site audio technician</li>

					</ul>
					<p>Consider adding</p>
					<ul>
						<li>podium</li>
						<li>additional or specialty microphones</li>
						<li>projector & screen</li>
						<li>video display monitors</li>
						<li>iPads, laptops, mobile technology</li>
						<li>webcasting services (to allow live remote participation)</li>
						<li>audio/video recording (for transcription or later viewing)</li>
					</ul>
				</div>
				<div class="col-lg-3">
					Price starts at $770.00
				</div>
			</div>
		</div>
	</div>

	<div style="padding:15px 0">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-3">
					<b>Open event space package</b>
				</div>
				<div class="col-lg-3">
				</div>
				<div class="col-lg-3">
					<b>Includes</b>
					<ul>
						<li>(2-8) speakers on stands</li>
						<li>(2) wired or wireless microphones</li>
						<li>interfaces to multiple audio sources (music, presentations, computer, live video)</li>
						<li>all required cabling & accessories</li>
						<li>delivery, set-up & strike</li>
						<li>on-site technician support</li>
					</ul>
					<p>Consider adding</p>
					<ul>
						<li>Lighting packages</li>
						<li>Video monitors and interactive displays</li>
						<li>Live video feeds</li>
						<li>Tablets & interactive mobile apps</li>
						<li>iPad kiosks</li>
						<li>Projector & screen</li>
						<li>Webcasting services</li>
					</ul>
				</div>
				<div class="col-lg-3">
					Price starts at $1,315.00
				</div>
			</div>
		</div>
	</div>

	<div class="grey-container" style="padding:15px 0">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-3">
					<b>Panel discussion pack</b>
				</div>
				<div class="col-lg-3">
				</div>
				<div class="col-lg-3">
					<b>Includes</b>
					<ul>
						<li>(2) speakers on stands</li>
						<li>(1) moderator microphone (wired or wireless handheld / lapel)</li>
						<li>(1) audience Q&A microphone</li>
						<li>(2-5) lapel or tabletop microphones for panel</li>
						<li>all required cabling</li>
						<li>delivery, set-up & strike</li>
						<li>on-site audio technician</li>
					</ul>
					<p>Consider adding</p>
					<ul>
						<li>podium</li>
						<li>additional microphones</li>
						<li>presentation equipment</li>
						<li>iPads or iPod Touches for interactive audience participation</li>
						<li>web conferencing services for remote participation</li>
						<li>audio/video capture & recording</li>
					</ul>
				</div>
				<div class="col-lg-3">
					Price starts at $1,975.00
				</div>
			</div>
		</div>
	</div>

	<div style="padding:15px 0">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-3">
					<b>Multi-participant meetings</b>
				</div>
				<div class="col-lg-3">
				</div>
				<div class="col-lg-3">
					<b>Includes</b>
					<ul>
						<li>(10) delegate microphone consoles (additional microphones can be added as needed)</li>
						<li>(1) delegate microphone base unit</li>
						<li>(1) moderator microphone console</li>
						<li>(2) speakers</li>
						<li>incorporates mixer and graphic EQ</li>
						<li>accommodates up to 100 people</li>
						<li>all required cabling and accessories</li>
						<li>onsite audio technician</li>
						<li>delivery, set-up & strike</li>
					</ul>
					<p>Consider adding</p>
					<ul>
						<li>additional (or specialty) microphones</li>
						<li>podium</li>
						<li>projector & screen</li>
						<li>video displays</li>
						<li>mobile voting / polling devices</li>
						<li>video conferencing services</li>
					</ul>
				</div>
				<div class="col-lg-3">
					Price starts at $2,675.00
				</div>
			</div>
		</div>
	</div>

	<div class="grey-container" style="padding:15px 0">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-3">
					<b>Press conference package</b>
				</div>
				<div class="col-lg-3">
				</div>
				<div class="col-lg-3">
					<b>Includes</b>
					<ul>
						<li>Microphone (wireless lapel, handheld, or podium mounted)</li>
						<li>Sound system for amplification to group of up to 250</li>
						<li>Press box / mult-box (enables direct audio patch by media into sound system)</li>
						<li>Podium</li>
						<li>All required cabling</li>
						<li>Onsite technician support</li>
						<li>Delivery, setup and strike</li>
					</ul>
					<p>Consider adding</p>
					<ul>
						<li>Additional microphones</li>
						<li>iPads or other mobile devices</li>
						<li>Upgraded sound system</li>
						<li>Webcast production services</li>
					</ul>
				</div>
				<div class="col-lg-3">
					Price starts at $1,395.00
				</div>
			</div>
		</div>
	</div>

	<div style="padding:15px 0">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-3">
					<b>Outdoor sound package</b>
				</div>
				<div class="col-lg-3">
				</div>
				<div class="col-lg-3">
					<b>Includes</b>
					<ul>
						<li>(2) speakers on stands</li>
						<li>(1) wireless handheld or lapel microphone</li>
						<li>all required cabling</li>
						<li>delivery, set-up & strike</li>
						<li>power source not included</li>
					</ul>
					<p>Consider adding</p>
					<ul>
						<li>podium</li>
						<li>on-site audio technician</li>
						<li>additional microphones</li>
						<li>presentation equipment</li>
					</ul>
				</div>
				<div class="col-lg-3">
					Price starts at $645.00 (most clients)
				</div>
			</div>
		</div>
	</div>
	<a href="" id="mob-nav">
		<span class="slice1"></span>
		<span class="slice2"></span>
		<span class="slice3"></span>
		<p>Open Menu</p>
	</a>
</section>
@section scripts
{
	<script type="text/javascript" src="~/scripts/functions.js"></script>
}


