
@{
    ViewBag.Title = "Sound Equipment Rental";
}
<section id="content-expertise">
    <div id="expertise-header-ser">
        <p class="expertise-header">&nbsp;</p>
    </div>
    <br /><br /><br />
    <p>
        For professional meetings and events events, choose our PA system rentals, which include speakers, cabling, and your choice of microphone(s) whatever the venue size and location may be.
        Browse our sound system rental packages below. We offer custom solutions!
    </p>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="card">
                @*<img src="/w3images/team2.jpg" alt="John" style="width:100%">*@
                <h1>Private Dining Room Package</h1>
                <p class="mytitle">Applications</p>
                <p>Dinner Meetings</p>
                <p>CME</p>
                <p>Sales Presentations</p>
                <p class="mytitle">Includes</p>
                <p>(1 or 2) speakers on stands</p>
                <p>(1) wired or wireless microphone</p>
                <p>all required cabling</p>
                <p>interface to computer or other outside audio source</p>
                <p>Delivery, set-up and meet & greet.</p>
                <p class="mytitle2">Consider adding</p>
                <p>onsite technician</p>
                <p>laptop, projector & screen, conference phone</p>
                <p>iPads, tablets, mobile technology</p>
                <p>webcast production & management services</p>
                <p><h3>Price starts at $495.00</h3></p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                @*<img src="/w3images/team2.jpg" alt="John" style="width:100%">*@
                <h1>Banquet room sound package</h1>
                <p class="mytitle">Applications</p>
                <p>Dinner Meetings</p>
                <p>Galas</p>
                <p>Special Events</p>
                <p class="mytitle">Includes</p>
                <p>(4) speakers on stands</p>
                <p>(2) wired or wireless microphone</p>
                <p>(1) 4-input mixer</p>
                <p>>interfaces to outside audio sources (presentations, video, music, remote participants)</p>
                <p>all required cabling</p>
                <p>interface to computer or other outside audio source</p>
                <p>delivery, set-up & strike</p>
                <p class="mytitle2">Consider adding</p>
                <p>podium</p>
                <p>additional microphones</p>
                <p>projector and screen</p>
                <p>monitors or external displays</p>
                <p>iPads / mobile technology</p>
                <p>presentation equipment</p>
                <p><h3>Price starts at $1,160.00</h3></p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                @*<img src="/w3images/team2.jpg" alt="John" style="width:100%">*@
                <h1>Meeting room sound package</h1>
                <p class="mytitle">Includes</p>
                <p>(2) speakers on stands</p>
                <p>(2) wired or wireless microphones</p>
                <p>(1) 4-input mixer</p>
                <p>interfaces to external audio sources (i.e. presentations, videos, music, remote participants)</p>
                <p>all required cabling</p>
                <p>delivery, set-up & strike</p>
                <p>on-site audio technician</p>
                <p class="mytitle2">Consider adding</p>
                <p>podium</p>
                <p>additional or specialty microphones</p>
                <p>projector & screen</p>
                <p>video display monitors</p>
                <p>iPads, laptops, mobile technology</p>
                <p>webcasting services (to allow live remote participation)</p>
                <p>audio/video recording (for transcription or later viewing)</p>
                <p><h3>Price starts at $770.00</h3></p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                @*<img src="/w3images/team2.jpg" alt="John" style="width:100%">*@
                <h1>Open event space package</h1>
                <p class="mytitle">Includes</p>
                <p>(2-8) speakers on stands</p>
                <p>(2) wired or wireless microphones</p>
                <p>interfaces to multiple audio sources (music, presentations, computer, live video)</p>
                <p>all required cabling & accessories</p>
                <p>delivery, set-up & strike</p>
                <p>on-site technician support</p>
                <p class="mytitle2">Consider adding</p>
                <p>Lighting packages</p>
                <p>Video monitors and interactive displays</p>
                <p>Live video feeds</p>
                <p>Tablets & interactive mobile apps</p>
                <p>iPad kiosks</p>
                <p>Projector & screen</p>
                <p>Webcasting services</p>
                <p><h3>Price starts at $1,315.00</h3></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="card">
                @*<img src="/w3images/team2.jpg" alt="John" style="width:100%">*@
                <h1>Panel discussion pack</h1>
                <p class="mytitle">Includes</p>
                <p>(2) speakers on stands</p>
                <p>(1) moderator microphone (wired or wireless handheld / lapel)</p>
                <p>(1) audience Q&A microphone</p>
                <p>(2-5) lapel or tabletop microphones for panel</p>
                <p>all required cabling</p>
                <p>delivery, set-up & strike</p>
                <p>on-site audio technician</p>
                <p class="mytitle2">Consider adding</p>
                <p>podium</p>
                <p>additional microphones</p>
                <p>presentation equipment</p>
                <p>iPads or iPod Touches for interactive audience participation</p>
                <p>web conferencing services for remote participation</p>
                <p>audio/video capture & recording</p>
                <p><h3>Price starts at $1,975.00</h3></p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                @*<img src="/w3images/team2.jpg" alt="John" style="width:100%">*@
                <h1>Multi-participant meetings</h1>
                <p class="mytitle">Includes</p>
                <p>(10) delegate microphone consoles (additional microphones can be added as needed)</p>
                <p>(1) delegate microphone base unit</p>
                <p>(1) moderator microphone console</p>
                <p>(2) speakers</p>
                <p>incorporates mixer and graphic EQ</p>
                <p>accommodates up to 100 people</p>
                <p>all required cabling and accessories</p>
                <p>onsite audio technician</p>
                <p>delivery, set-up & strike</p>
                <p class="mytitle2">Consider adding</p>
                <p>additional (or specialty) microphones</p>
                <p>podium</p>
                <p>projector & screen</p>
                <p>video displays</p>
                <p>mobile voting / polling devices</p>
                <p>video conferencing services</p>
                <p><h3>Price starts at $2,675.00</h3></p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                @*<img src="/w3images/team2.jpg" alt="John" style="width:100%">*@
                <h1>Press conference package</h1>
                <p class="mytitle">Includes</p>
                <p>Microphone (wireless lapel, handheld, or podium mounted)</p>
                <p>Sound system for amplification to group of up to 250</p>
                <p>Press box / mult-box (enables direct audio patch by media into sound system)</p>
                <p>Podium</p>
                <p>All required cabling</p>
                <p>Onsite technician support</p>
                <p>Delivery, setup and strike</p>
                <p class="mytitle2">Consider adding</p>
                <p>Additional microphones</p>
                <p>iPads or other mobile devices</p>
                <p>Upgraded sound system</p>
                <p>Webcast production services</p>
                <p><h3>Price starts at $1,395.00</h3></p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                @*<img src="/w3images/team2.jpg" alt="John" style="width:100%">*@
                <h1>Outdoor sound package</h1>
                <p class="mytitle">Includes</p>
                <p>(2) speakers on stands</p>
                <p>(1) wireless handheld or lapel microphone</p>
                <p>all required cabling</p>
                <p>delivery, set-up & strike</p>
                <p>power source not included</p>
                <p class="mytitle2">Consider adding</p>
                <p>podium</p>
                <p>on-site audio technician</p>
                <p>additional microphones</p>
                <p>presentation equipment</p>
                <p><h3>Price starts at $645.00 (most clients)</h3></p>
            </div>
        </div>
    </div>
    <a href="" id="mob-nav">
        <span class="slice1"></span>
        <span class="slice2"></span>
        <span class="slice3"></span>
        <p>Open Menu</p>
    </a>
</section>
@section scripts
{
    <script type="text/javascript" src="~/scripts/functions.js"></script>

    <style>
        h1 {
            padding-top:15px;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .mytitle {
            padding-top:20px;
            text-transform:uppercase;
            color: grey;
            font-size: 20px;
        }
        .mytitle2 {
            padding-top: 20px;
            text-transform: uppercase;
            color: grey;
            font-size: 16px;
        }

        h3 {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

            h3:hover, a:hover {
                opacity: 0.7;
            }
    </style>
}


