
@{
	ViewBag.Title = "Videography";
}
<section id="content-expertise">
	<div id="expertise-header-videography">
		<p class="expertise-header">VIDEOGRAPHY</p>
	</div>
	<br />
	<h4>Wedding Video Coverage</h4>
	<hr />
	<p>
		SilverMoon Creative Design is one of Charlotte Piedmonts top wedding videography/ cinematography companies.
		Our videographers film at the following locations:
		<ul>
			<li>Charlotte, NC</li>
			<li>Charleston, SC</li>
			<li>Asheville, NC</li>
			<li>Wilmington, NC</li>
			<li>Raleigh, NC</li>
			<li>Greenville, SC</li>
			<li>Myrtle Beach, SC and other destinations!</li>
		</ul>
		Wherever you need a professional wedding videographer, we will be there to capture your big day!
	</p>
	<h3>Why SIlverMoon Creative Design?</h3>
	<p>
		Most couples that are searching for a HD Wedding Videographer or HD Wedding Cinematographer have many questions…
		We would love to answer your questions, and talk to you about your big day! Let us know all about it!
		The details and theme of your wedding, what is important to you, your love story, the music you like, and all those awesome details that led to your big day.
	</p>
	<p>
		We welcome any ideas and thoughts that you have, so that we can take it further… creating that amazing and speechless HD Wedding Video that you will be excited to share with all your family and friends for generations to come!
	</p>
	<p>
		At SilverMoon Creative Design, we also believe that every couple deserves the cinematic look for their wedding day. With that mission in mind, every booking with us guarantees HDSLR cameras.
		These revolutionary cameras are used in mainstream movies, music videos and even network news because quality is of upmost importance to us, SilverMoon Creative Design makes this equipment available in every package we offer.
	</p>
	<p>
		From start to finish, we concentrate on your special day! As a result, SilverMoon Creative Design books only a limited amount of weddings, ensuring that you get the highest attention you deserve for your once in a lifetime event.
	</p>
	<p>
		At SilverMoon Creative Design, our philosophy about wedding videography is simple:
		<br />
		We take our passion, knowledge, artistic eye and experience collected from years in the film industry to deliver you and your loved ones a breathtaking HD Cinematic Wedding Video!
		<br />
		We will be there to capture all the beauty, laughter, tears, and joyous moments on one of the most important days of your life.
		Turning these small moments into a cinematic masterpiece will not only ensure an authentic representation of your day, but will capture memories that you will cherish from that special occasion forever.
	</p>
	<h3>
		Why Do I Want A Cinematic Wedding Film?
	</h3>
	<p>
		Weddings films are growing in popularity across the world for one reason: there's nothing quite like the film experience. With film, we are able to evoke the same emotions felt on your wedding months, years and even decades after the big day.
		A product from SilverMoon Creative Design lets you be the star of your own feature film, complete with custom DVD and Blu-ray layouts.
	</p>
	<p>
		From the salon to the big exit, we are dedicated to honoring your marriage and telling your unique story so that it can be shared by all.
	</p>
	<p>
		We invite you to browse our cinematic trailers, full films and ceremonies to become accustomed to our style based on your individualized preferences.
		SilverMoon Creative Designs are cinematic look and brings a couple's love to life on film.
	</p>
	<br />
	<h4>Short Film</h4>
	<hr />
	<p>
		SilverMoon Creative Design produces 1 to 5 minutes digital films for the client's audience. Showing short films in this manner will prime the audience on what the company offers.
		We also do these short films to capture the most memorable experiences for you as it transpires be it business related or personal.
	</p>
	<p>
		The first step when undertaking a new communications initiative is to learn what the possibilities are and whether they are viable based on your time requirements and budget.
		We will analyze your needs and present effective; viable options to make your next project a success! We are confident that whether you select us or another, our analysis will help you better understand your needs, manage your budget and achieve your goals.
	</p>
	<br />
	<h4>Event Coverage</h4>
	<hr />
	<p>
		With the abundance of new media, we understand the importance of video coverage for archival, marketing and promotional purposes.
		A well designed professional video really makes a difference in effectively telling the story of your company or event.
		Our immersion in the event, tech and photography industries
	</p>
	<p>
		We offer all-inclusive video services from company marketing materials to customer testimonials and event highlight reels.
		For larger engagements, we can even create custom packages with a variety of services like candid photography or headshot stations in conjunction with video coverage.
	</p>
	<a href="" id="mob-nav">
		<span class="slice1"></span>
		<span class="slice2"></span>
		<span class="slice3"></span>
		<p>Open Menu</p>
	</a>
</section>
@section scripts
{
	<script type="text/javascript" src="~/scripts/functions.js"></script>
}

