@{
	ViewBag.Title = "Home Page";
}
<section id="content">
	<section id="about">
		<h1>Silvermoon Creative Designs</h1>
		<h2>
			The company leverages technology to ensure delivery of quality services and products. We are commited to provide the best
			customer experience with each encounter. Our passion is to treat every client in a family-like manner.
		</h2>
	</section>
	<br />
	<section id="expertise">
		<h3 class="tungsten">Our <strong>Expertise</strong></h3>
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-4">
					<a title="Websites" href="/Expertise/WebDesign">
						<img src="~/images/webdesign.png" class="expertise-icon" />
						<div>
							<h2 class="tungsten">
								Web Design
							</h2>
							<p>
								Our Mission is to produce original digital designs that will add value to your business. Our highly trained programmers
								combined with our talented graphic design team create professional and timely work. Our web designs leave an outstanding
								remark and impression.
							</p>
							<p class="action">Read More</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4">
					<a title="IT Management" href="/Expertise/ITManagement">
						<img src="~/images/itmgmt.png" class="expertise-icon" />
						<div>
							<h2 class="tungsten">IT Management</h2>
							<p>
								Our IT Services provides an alternative to the traditional “on premise” and "öff premise" IT teams and infrastructures.
								We help your business leverage on technology systems and solutions to increase your productvity and profitability.
								Our IT management and ideas are advanced and highly competitiv
							</p>
							<p class="action">Read More</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4">
					<a title="Digital Strategy" href="/Expertise/MarketingCampaignTools">
						<img src="~/images/marketingcampaign.png" class="expertise-icon" />
						<div>
							<h2 class="tungsten">
								Marketing / Campaign Tools
							</h2>
							<p>
								Our mission is to assist you with growing your business through sustainable marketing strategies, initiatives and tools.
								We are competitive with our rates while delivering stupendous quality services and products .
							</p>
							<p class="action">Read More</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-4">
					<a title="Applications" href="/Expertise/Photography">
						<img src="~/images/photography.png" class="expertise-icon" />
						<div>
							<h2 class="tungsten">Photography</h2>
							<p>
								Our mission is to be uniquely limitless with our ability to meet our customer's personal vision . We creatively cater
								to each client's individualized ideas and suggestions. We thrive to make the experience as comfortable and fun as possible.
								We are committed to making each moment count. Looking at your memories will be breathtaking.
							</p>
							<p class="action">Read More</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4">
					<a title="Videography" href="/Expertise/Videography">
						<img src="~/images/videography.png" class="expertise-icon" />
						<div>
							<h2 class="tungsten">Videography</h2>
							<p>
								Our mission is to eliminate limitations on creativity by offering customized videography sessions. We base our concepts
								from your own personal vision as well as provide variety of recommendations to capture your experiences favorably and
								have a product that you will cherish in your lifetime. or for your business promotions.
							</p>
							<p class="action">Read More</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4">
					<a title="Photography" href="/Expertise/SoundEquipmentRental">
						<img src="~/images/soundequipment.png" class="expertise-icon" />
						<div>
							<h2 class="tungsten">
								Sound Equipment Rental
							</h2>
							<p>
								SilverMoon Creative Design specializes in audio and video equipment rentals for: Concerts, DJ Events, Tours, Conventions,
								Weddings, Parties, Corporate Events, Movie Projections, Press Conferences and more.
							</p>
							<p class="action">Read More</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-6">
					<a title="Document Design" href="/Expertise/DocumentDesign">
						<img src="~/images/documentdesign.png" class="expertise-icon" />
						<div>
							<h2 class="tungsten">Document Design</h2>
							<p>
								We design and format documentation used for presentations, tracking, work ease and maximizing productivity. ​ We deliver
								exceptional managed services, strategic planning and consultation to optimize your business' technology ecosystem.
							</p>
							<p class="action">Read More</p>
						</div>
					</a>
				</div>
				<div class="col-lg-6">
					<a title="Document Design" href="/Expertise/GraphicsDesign">
						<img src="~/images/documentdesign.png" class="expertise-icon" />
						<div>
							<h2 class="tungsten">Graphics Design</h2>
							<p>
								We design and format documentation used for presentations, tracking, work ease and maximizing productivity. ​ We deliver
								exceptional managed services, strategic planning and consultation to optimize your business' technology ecosystem.
							</p>
							<p class="action">Read More</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section id="portfolio" class="clearfix">
		<h3 class="tungsten">Our <strong>Work</strong></h3>
		<article class="box grid">
			<a href="https://storage.googleapis.com/wzuk/assets/images/dv1321016/dv1321016_1450.jpg" style="background-image:url(https://storage.googleapis.com/wzuk/assets/images/dv1321016/dv1321016_1450.jpg);"
			   title="Wedding #1">
				<div class="content">
					<h2><strong>Wedding #1</strong></h2>
					<p>Some wedding</p>
				</div>
				<div class="fade" style="background-color:#303030;">
					<ul>
						<li>Photography</li>
						<li>Videography</li>
					</ul>
				</div>
				<span></span>
			</a>
		</article>
		<article class="box grid">
			<a style="background-image:url(https://storage.googleapis.com/wzukusers/user-500000/images/56b322362c1d6pE9xn34/20618278_lel_d1450.jpg);"
			   title="Wedding #2">
				<div class="content">
					<h2><strong>Wedding #2</strong></h2>
					<p>Some wedding</p>
				</div>
				<div class="fade" style="background-color:#303030;">
					<ul>
						<li>Photography</li>
						<li>Videography</li>
					</ul>
				</div>
				<span></span>
			</a>
		</article>
		<article class="wide grid center-block">
			<a href="http://silvermooncreativedesign.com/our-work/rottnest-island/" style="background-image:url(https://storage.googleapis.com/wzukusers/user-23820275/images/57f6563936f625HJVOgd/Aidan_d1450.JPG);"
			   title="Kid pic #1">
				<div class="content" style="width:100%;">
					<h2><strong>Kid pic #1</strong></h2>
					<p>This dude is turning 1!</p>
				</div>
				<div class="fade" style="background-color:#11a0a8;">
					<ul>
						<li>Photography</li>
						<li>Strategy</li>
						<li>Design</li>
					</ul>
				</div>
				<span></span>
			</a>
		</article>
	</section>
	<div id="meettheteam" class="container text-center">
		<h3>THE TEAM</h3>
		<!--<p><em>""</em></p>-->
		<div class="row">
			<p>Currently, we're made up of 3 of the same person. [Please edit this out, I don't know 'kage bunshin'!]</p>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-4 col-lg-4">
				<div class="card-container manual-flip">
					<div class="card">
						<div class="front">
							<div class="cover">
								<img src="~/plugins/rotating_card/images/rotating_card_thumb.jpg" />
							</div>
							<div class="user">
								<img class="img-circle" src="~/plugins/rotating_card/images/lloyd_2.jpg" />
							</div>
							<div class="content">
								<div class="main">
									<h3 class="name">Lloyd Miguel</h3>
									<p class="profession">Associate Lead Developer</p>
									<p class="text-center">Jack of All trades, Master of none.</p>
								</div>
								<div class="footer">
									<button class="btn btn-simple" onclick="rotateCard(this)">
										<i class="fa fa-mail-forward"></i> Learn more
									</button>
								</div>
							</div>
						</div>
						<!-- end front panel -->
						<div class="back">
							<div class="header">
								<h5 class="motto">"Don't let your education stop you from learning."</h5>
							</div>
							<div class="content">
								<div class="main">
									<h5 class="text-center">Job</h5>
									<p class="text-center">Front end development. User experience.</p>

									<h5 class="text-center">Skills</h5>
									<p class="text-center">HTML/CSS/JS, Angular 2, .NET/C#, NodeJS, LESS</p>
								</div>
								<div>
									<a href="/Home/MeetTheTeam/#lloyd-miguel">Read more...</a>
								</div>
							</div>
							<div class="footer">
								<button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
									<i class="fa fa-reply"></i> Back
								</button>
								<div class="social-links text-right">
									<a href="http://facebook.com/lolloyd" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
								</div>
							</div>
						</div>
						<!-- end back panel -->
					</div>
					<!-- end card -->
				</div>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4">
				<div class="card-container manual-flip">
					<div class="card">
						<div class="front">
							<div class="cover">
								<img src="~/plugins/rotating_card/images/rotating_card_thumb.jpg" />
							</div>
							<div class="user">
								<img class="img-circle" src="~/plugins/rotating_card/images/marissa.jpg" />
							</div>
							<div class="content">
								<div class="main">
									<h3 class="name">Marissa Olarte-Helbing</h3>
									<p class="profession">Certified Nurse Executive and a Director of Nursing Services Certified</p>
									<p class="text-center">“Delivering arts and technology with passion.”</p>
								</div>
								<div class="footer">
									<button class="btn btn-simple" onclick="rotateCard(this)">
										<i class="fa fa-mail-forward"></i> Learn more
									</button>
								</div>
							</div>
						</div>
						<!-- end front panel -->
						<div class="back">
							<div class="header">
								<h5 class="motto">“Delivering arts and technology with passion.”</h5>
							</div>
							<div class="content">
								<div class="main">
									<h5 class="text-center">Job</h5>
									<p class="text-center">Certified Nurse Executive and a Director of Nursing Services Certified</p>

									<h5 class="text-center">Skills</h5>
									<p class="text-center"></p>
								</div>
								<div>
									<a href="/Home/MeetTheTeam/#marissa-olarte-helbing">Read more...</a>
								</div>
							</div>
							<div class="footer">
								<button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
									<i class="fa fa-reply"></i> Back
								</button>
								<div class="social-links text-right">
									<a href="http://facebook.com/Imt2Vi" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
								</div>
							</div>
						</div>
						<!-- end back panel -->
					</div>
					<!-- end card -->
				</div>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4">
				<div class="card-container manual-flip">
					<div class="card">
						<div class="front">
							<div class="cover">
								<img src="~/plugins/rotating_card/images/rotating_card_thumb.jpg" />
							</div>
							<div class="user">
								<img class="img-circle" src="~/plugins/rotating_card/images/glenn.jpg" />
							</div>
							<div class="content">
								<div class="main">
									<h3 class="name">Glenn Espiritu</h3>
									<p class="profession">CEO</p>
									<p class="text-center">"I'm the final boss!"</p>
								</div>
								<div class="footer">
									<button class="btn btn-simple" onclick="rotateCard(this)">
										<i class="fa fa-mail-forward"></i> Learn more
									</button>
								</div>
							</div>
						</div>
						<!-- end front panel -->
						<div class="back">
							<div class="header">
								<h5 class="motto">"Well, stuff happens"</h5>
							</div>
							<div class="content">
								<div class="main">
									<h5 class="text-center">Job</h5>
									<p class="text-center">CEO</p>

									<h5 class="text-center">Skills</h5>
									<p class="text-center">HTML/CSS/JS, Angular 2, .NET/C#, NodeJS, LESS</p>
								</div>
								<div>
									<a href="/Home/MeetTheTeam/#glenn-espiritu">Read more...</a>
								</div>
							</div>
							<div class="footer">
								<button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
									<i class="fa fa-reply"></i> Back
								</button>
								<div class="social-links text-right">
									<a href="http://facebook.com/Imt2Vi" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
								</div>
							</div>
						</div>
						<!-- end back panel -->
					</div>
					<!-- end card -->
				</div>
			</div>
		</div>
	</div>

	<div id="testimonials">
		<h3 class="tungsten">Testimonials</h3>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
				<li data-target="#myCarousel" data-slide-to="4"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<p>
						“I am so happy that I hired SilverMoon Creative Design to take care of my internet and IT solutions.
						They are a business that responds immediately to any concern that I have.
						It is nice to get the personal touch that they provide and I would recommend any other business to look into the services they provide.
						They provide me with peace of mind knowing my business is running smooth.”
					</p>
					<cite>James Gilchrist</cite><br />
					<cite>Attorney at Law</cite><br />
					<cite>The Gilchrist Law Firm</cite>
				</div>

				<div class="item">
					<p>
						“We have been very impressed by SilverMoon Creative Design’s ability to literally read our minds and deliver a corporate identity that perfectly symbolizes our vision and conveys the stylish, elegant and modern image we needed to sustain the development of our company.”
					</p>
					<cite>Dustin Espiritu</cite><br />
					<cite>CEO</cite><br />
					<cite>Roadglide Contractors Corporation</cite>
				</div>

				<div class="item">
					<p>
						"Be it photography, videography or any wedding memoir needs, SilverMoon Creative Design is the company of choice for me. They listened and created an individualized package based on my personal preferences to capture lasting memories on my very special day.”
					</p>
					<cite>Kari Lovdal RN</cite>
				</div>

				<div class="item">
					<p>
						“SilverMoon Creative Design has done plenty of projects for me, my work, and my family with photography and videography and graphic designs. They have always been professional with their work and the turn around time is amazing and the support they provide after the project is very much appreciated. I have recommended this company to my colleagues in the Healthcare Industry.”
					</p>
					<cite>Mike McSwain</cite><br />
					<cite>Administrator </cite><br />
					<cite>Carrington Place Rehabilitation and Living Center</cite>
				</div>

				<div class="item">
					<p>
						“When I first made contact with Glenn and his team, I was taken with the ‘can-do’ attitude towards our entire project (it was a big one), and their willingness to meet our needs – both creative and budgetary!
						We had a fairly intense approval process on our end, but the Sleepless team always made working together easy; from new needs popping up, to last minute changes, the overall approach was hard-working but always positive. Even post-launch, the team has continued to be helpful and interactive, making it easy to solve any issues quickly and resolutely. Thank you, Silvermoon Creative Design!”
					</p>
					<cite>Nikki Morton</cite><br />
					<cite>Director of Marketing </cite><br />
					<cite>Olde Knox Commons Rehabilitation and Living Center</cite>
				</div>
			</div>

		</div>
	</div>
	<section id="contactus" class="img-rounded">

		<div class="row">
			<div class="col-sm-4">
				<h3 class="tungsten">Contact <strong>Us</strong></h3>
				<h4>Address:</h4>
				624 Matthews-Mint Hill Rd <br> Suite 207 <br> Matthews, NC 28105 <br>
				<br> Telephone: <br> 704-776-2858 <br>
				<br> Email: <br> silvermooncreativedesign@gmail.com <br>
			</div>
			<div class="col-sm-8">
				<div id="map1" class="map">
				</div>
			</div>
		</div>
	</section>
	<a href="" id="mob-nav">
		<span class="slice1"></span>
		<span class="slice2"></span>
		<span class="slice3"></span>
		<p>Open Menu</p>
	</a>
</section>
@section scripts
{
	<script type="text/javascript" src="~/scripts/jquery-1.10.2.min.js"></script>
	<script src="~/plugins/rotating_card/js/bootstrap.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		$().ready(function () {
			$('[rel="tooltip"]').tooltip();

		});

		function rotateCard(btn) {
			var $card = $(btn).closest('.card-container');
			if ($card.hasClass('hover')) {
				$card.removeClass('hover');
			} else {
				$card.addClass('hover');
			}
		}
	</script>


	<style>
		.map {
			vertical-align: middle;
			text-align: left;
			min-width: 300px;
			min-height: 300px;
			width: 100%;
			height: 100%;
		}
	</style>
	<script type="text/javascript" src="~/scripts/plugins.js"></script>
	<script type="text/javascript" src="~/scripts/functions.js"></script>
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyBoqtIn7e7umXY4dzvYQZ7Q-OWZsZ0tl94"></script>
	<script type="text/javascript">
		jQuery(function ($) {
			function init_map1() {
				var myLocation = new google.maps.LatLng(35.116227, -80.712249);
				var mapOptions = {
					center: myLocation,
					zoom: 16
				};
				var marker = new google.maps.Marker({
					position: myLocation,
					title: "Silvermoon Creative Design"
				});
				var map = new google.maps.Map(document.getElementById("map1"),
					mapOptions);
				marker.setMap(map);
			}
			init_map1();
		});

											//$(document).ready(function () {
											//	$('nav a').click(function(e) {
											//		$('nav a').removeClass('active');

											//		var $this = $(this);

											//		console.log(window.location)
											//		if (!$this.hasClass('active')) {
											//			$this.addClass('active');
											//		}
											//		//e.preventDefault();
											//	});
											//});
	</script>
}