
@{
	ViewBag.Title = "Meet The Team";
}
<section id="content-expertise">
	<div id="expertise-header-mtt">
		<p class="expertise-header"></p>
	</div>
</section>
<section id="glenn-espiritu" class="grey-container" >
	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-4">
				<img src="~/images/glenn.jpg" style="width:100%" />
			</div>
			<div class="col-lg-8" style="text-align:justify">
				<h3>Glenn Espiritu</h3>
				<br />
				<p>
					SilverMoon is fortunate to be lead by our multi-talented CEO, Mr. Glenn Espiritu.
					With his widely diverse background, Glenn brings multiple innovative concepts and ideas to the company.
					Our foundation started with a simple mission and vision to bring joy in capturing moments and messages.
					Today, the company leverages in assisting individuals and businesses to have the easiest access to website and customized program maximization.
				</p>
				<p>
					His background covers authentic ethnicity, multi-cultural and modernized influence.
					He was born in South East Asia and migrated to California. He moved to North Carolina in 2001 in search of prosperity in business.
					With a background of Bachelors of Science in Economics, he ended up managing businesses in banking, to the food industry and into healthcare.
					He finally attained his passion through managing our company.
					His highly extensive background in IT and Graphic design experience include Web Development, Application Development, Single Page Application, Database Development, UI/UX Integration, Root cause analysis and solution implementation.
					Adobe Photoshop and Premier Pro CC, and Final Cut Pro.
				</p>
				<p>
					He leads a team of Microsoft Certified Solutions Developers and Specialist on programming in HTML5 with JavaScript and CSS3.
					With technical skills not limited to:

					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="col-lg-3 col-md-4">
								<ul>
									<li>ASP.Net Web forms</li>
									<li>ASP.Net MVC</li>
									<li>ASP.Net Core</li>
									<li>Entity Framework</li>
								</ul>
							</div>
							<div class="col-lg-4 col-md-4">
								<ul>
									<li>WCF/ASP.Net Web API</li>
									<li>jQuery, Bootstrap</li>
									<li>SQL Server 2008/2012</li>
									<li>Unit Testing/Mocking</li>
								</ul>
							</div>
							<div class="col-lg-5 col-md-4">
								<ul>
									<li>CSLA</li>
									<li>Adobe Photoshop CS</li>
									<li>E Crystal Reports 2008</li>
									<li>Experienced in Scrum Approach</li>
								</ul>
							</div>
						</div>
					</div>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-12" style="text-align:justify">
				<p>
					He also oversees a team of well-screened photographers and videographers to cover intimate to grand events.
					Capturing memories and significant events with individualized goal to provide treasured memorabilia for every customer.
					His leadership is the epitome of genuine fun while at work.
				</p>
				<p>
					Glenn is not only technically savvy but is an artist as well. He is an excellent photographer and cinematographer.
					This personal hobby remains the precursor of his founded company and served as the foundation of SilverMoon Creative  Design.
					He has phenomenal skills in playing any kind of musical instrument and sport. He excels in playing the guitar and tennis.
					His friends comments that Glenn excels in “whatever challenges is put upon him.” Not competitive, just an unbelievable fast learner and becomes highly skilled in a short span of time.
					He is not only a thinker but also a natural doer.
				</p>
				<p>
					He is most proud of being a father of 4 boys who are his inspiration and motivation everyday to do better.
					He values work and life balance and knows the importance of spending time with his loved ones despite of his hectic daily schedule.
					He values family, his heritage and culture.
				</p>
			</div>
		</div>
	</div>
</section>
<br />
<section id="marissa-olarte-helbing" >
	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-8" style="text-align:justify">
				<h3>Marissa Olarte-Helbing</h3>
				<br />
				<p>
					<b style="font-style:italic">“Delivering arts and technology with passion.”</b>
				</p>
				<p>
					This motto has closed the initial destiny of our company.
					This is a reflection of our Corporate Financial Officer’s drive for perseverance and inner motivation.
					There is nothing that she puts her whole mind and soul that will be unattainable.
				</p>
				<p>
					Marissa Olarte-Helbing has a Degree in Bachelor’s of Science in Nursing.
					She has many certifications including becoming a Certified Nurse Executive and a Director of Nursing Services Certified.
					She is a Registered Nurse in a country in South East Asia and currently in the USA.
					She pursued her career further in Health Care Administration and acquired her License in Nursing Home Administration almost a decade ago.
					She went through courses of leadership academy and is a genuine leader.
					She is also a business investor not limited in coffee industry, home health, staff recruitment, construction and many other ventures aside from her co-owning and co-managing SilverMoon Creative Design.
				</p>
				<p>
					Marissa has passions for a wide array of arts including her passion for music and the fine arts.
					She plays musical instruments even without formal schooling and is one profound singer. She has fondness for traveling, trying the new and unknown, extreme adventures and sports.
					She has a drive to learn new skills and just anything new and different. She has a thrill for “first times” and adrenaline triggering experiences.
				</p>
				<p>
					Marissa may have had many accomplishments but she is most proud of her son and her daughter.
					They are her true motivation and inspiration. Her son and daughter are gifted and intelligent children who make her a very proud parent.
					She belongs to a family of business-minded people and one of her inspirations is her late grandmother, Dona Arsenia Umali who was a coffee business tycoon from the late 1940’s to the late 90’s.
					She is a proud sister of a Doctor, Nurse, Physical Therapist and 2 PMA graduate brothers who all also each manage their own business ventures.
				</p>
				
			</div>
			<div class="col-lg-4">
				<img src="~/images/marissa.JPG" style="width:100%" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-12" style="text-align:justify">
				<p>
					Marissa’s passion for arts and science made her a perfect match to co-lead SilverMoon Creative Design.
					She loves the world of entrepreneurship! We are delighted to have her as our company’s CFO, co-owner and co-founder.
				</p>
			</div>
		</div>
	</div>
</section>
<br />
<section id="lloyd-miguel" class="grey-container" >
	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-4">
				<img src="~/images/lloyd.jpg" style="width:100%" />
			</div>
			<div class="col-lg-8" style="text-align:justify">
				<h3>Lloyd Joseph Miguel</h3>
				<br />
                <p>
                    Lloyd Miguel is the Chief Technology Officer ( CTO ) at SilverMoon Creative Design. He is responsible and in-charge of a pool of developers from various parts of the field addressing complex software development challenges and delivering projects with great results.
                    Lloyd has been in the IT industry over 10 years. He is a Microsoft Certified Software Developer and has worked on many projects in various roles which include software architecture, design and development, and project management. Lloyd has helped worked on different fields from credit card, online systems, freight, tracking, general retail to healthcare. Some of his projects are overseas like in the Kingdom of Saudi Arabia and United States of America.
                </p>
                <p>
                    Lloyd is married and blessed with two girls who are athletic and both play badminton and basketball among other sports they enjoy. He enjoys traveling and communicating virtually. He loves to ride his scooter and will even choose that over driving his regular car just to smartly beat the hassle and bustle of traffic. Lloyd is the easy to get along with kind of guy. He is cool and very diplomatic. He is not only a tech and virtual guru but a maturity and calmness guru!
                </p>
                <p>
                    We are fortunate to have his leadership as the company’s CTO. His expertise is impeccable . His knowledge in technology surpasses projects that cater to every and all generation types from the user -friendly boomers  to the tech-savvy millennial. Lloyd is an ever evolving and innovative CTO.
                </p>
			</div>
		</div>
	</div>
	<a href="" id="mob-nav">
		<span class="slice1"></span>
		<span class="slice2"></span>
		<span class="slice3"></span>
		<p>Open Menu</p>
	</a>
</section>
@section scripts
{
	<script type="text/javascript" src="~/scripts/functions.js"></script>
}

