
@{
    ViewBag.Title = "Portfolio";
}
<style type="text/css">
</style>
<section id="content-expertise">
    <div id="expertise-header-portfolio">
        <p class="expertise-header"></p>
    </div>
</section>
<section id="portfolio" class="clearfix">
    <center><h1 class="tungsten">Software Portfolio</h1></center>
    <article class="box grid">
        <a href="http://www.carringtonplacenursingcenter.com/" target="_blank" style="background-image:url(../../Images/softwaredesign/car.jpg); background-size:contain;"
           title="Wedding #1">
            <div class="content">
                <h2><strong>Carrington</strong></h2>
                <p>Health Care</p>
            </div>
            <div class="fade" style="background-color:#303030;">
                <ul>
                    <li>Websites</li>
                </ul>
            </div>
            <span></span>
        </a>
    </article>
    <article class="box grid">
        <a href="http://www.thegilchristlawfirm.com" target="_blank" style="background-image:url(../../Images/softwaredesign/gcl.jpg); background-size:contain;"
           title="Wedding #1">
            <div class="content">
                <h2><strong>Gilchrist Lawfirm</strong></h2>
                <p>Attorney Services</p>
            </div>
            <div class="fade" style="background-color:#303030;">
                <ul>
                    <li>Websites</li>
                </ul>
            </div>
            <span></span>
        </a>
    </article>
    <article class="box grid">
        <a href="https://itunes.apple.com/us/app/careoptima/id1197422346?mt=8" target="_blank" style="background-image:url(../../Images/softwaredesign/cop.jpg); background-size:contain;"
           title="Wedding #1">
            <div class="content">
                <h2><strong>Care Optima</strong></h2>
                <p>Health Care</p>
            </div>
            <div class="fade" style="background-color:#303030;">
                <ul>
                    <li>iOS Application</li>
                </ul>
            </div>
            <span></span>
        </a>
    </article>
    <article class="box grid">
        <a href="http://www.driveoffaith.com" target="_blank" style="background-image:url(../../Images/softwaredesign/dof.jpg); background-size:contain;"
           title="Wedding #1">
            <div class="content">
                <h2><strong>Drive Of Faith</strong></h2>
                <p>Mobility Services</p>
            </div>
            <div class="fade" style="background-color:#303030;">
                <ul>
                    <li>Websites</li>
                </ul>
            </div>
            <span></span>
        </a>
    </article>
</section>
<div style="width:100%; background-color:black;" class="row">
    <div id="graphics"class="card">
        <h1>Graphics Portfolio</h1>
        <div id="jssor_2" style="position:relative;margin:0 auto;top:0px;left:0px;width:960px;height:480px;overflow:hidden;visibility:hidden;background-color:#24262e;">
            <!-- Loading Screen -->
            <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="~/Images/photography/spin.svg" />
            </div>
            <div data-u="slides" style="cursor:default;position:relative;top:0px;left:240px;width:720px;height:480px;overflow:hidden;">
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/001.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/001b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/002.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/002b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/003.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/003b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/004.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/004b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/005.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/005b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/006.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/006b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/007.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/007b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/008.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/008b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/009.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/009b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/010.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/010b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/011.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/011b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/012.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/012b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/013.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/013b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/014.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/014b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/015.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/015b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/016.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/016b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/graphics/017.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/017b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" style="width:auto;" src="~/Images/graphics/018.jpg" />
                    <img data-u="thumb" src="~/Images/graphics/018b.jpg" />
                </div>
            </div>
            <!-- Thumbnail Navigator -->
            <div data-u="thumbnavigator" class="jssort101" style="position:absolute;left:0px;top:0px;width:240px;height:480px;background-color:#000;" data-autocenter="2" data-scale-left="0.75">
                <div data-u="slides">
                    <div data-u="prototype" class="p" style="width:99px;height:66px;">
                        <div data-u="thumbnailtemplate" class="t"></div>
                        <svg viewbox="0 0 16000 16000" class="cv">
                            <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
                            <line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
                            <line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
                        </svg>
                    </div>
                </div>
            </div>
            <!-- Arrow Navigator -->
            <div data-u="arrowleft" class="jssora093" style="width:50px;height:50px;top:0px;left:270px;" data-autocenter="2">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                    <polyline class="a" points="7777.8,6080 5857.8,8000 7777.8,9920 "></polyline>
                    <line class="a" x1="10142.2" y1="8000" x2="5857.8" y2="8000"></line>
                </svg>
            </div>
            <div data-u="arrowright" class="jssora093" style="width:50px;height:50px;top:0px;right:30px;" data-autocenter="2">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                    <polyline class="a" points="8222.2,6080 10142.2,8000 8222.2,9920 "></polyline>
                    <line class="a" x1="5857.8" y1="8000" x2="10142.2" y2="8000"></line>
                </svg>
            </div>
        </div>
    </div>
    <div id="photography" class="card">
        <h1>Photography Portfolio</h1>
        <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:960px;height:480px;overflow:hidden;visibility:hidden;background-color:#24262e;">
            <!-- Loading Screen -->
            <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="~/Images/photography/spin.svg" />
            </div>
            <div data-u="slides" style="cursor:default;position:relative;top:0px;left:240px;width:720px;height:480px;overflow:hidden;">
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/001.jpg" />
                    <img data-u="thumb" src="~/Images/photography/001b.jpg" />
                </div>
                @*<div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/002.jpg" />
                    <img data-u="thumb" src="~/Images/photography/002b.jpg" />
                </div>*@
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/003.jpg" />
                    <img data-u="thumb" src="~/Images/photography/003b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/004.jpg" />
                    <img data-u="thumb" src="~/Images/photography/004b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/005.jpg" />
                    <img data-u="thumb" src="~/Images/photography/005b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/006.jpg" />
                    <img data-u="thumb" src="~/Images/photography/006b.jpg" />
                </div>
                @*<div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/007.jpg" />
                    <img data-u="thumb" src="~/Images/photography/007b.jpg" />
                </div>*@
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/008.jpg" />
                    <img data-u="thumb" src="~/Images/photography/008b.jpg" />
                </div>
                @*<div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/009.jpg" />
                    <img data-u="thumb" src="~/Images/photography/009b.jpg" />
                </div>*@
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/010.jpg" />
                    <img data-u="thumb" src="~/Images/photography/010b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/011.jpg" />
                    <img data-u="thumb" src="~/Images/photography/011b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/012.jpg" />
                    <img data-u="thumb" src="~/Images/photography/012b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/013.jpg" />
                    <img data-u="thumb" src="~/Images/photography/013b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/014.jpg" />
                    <img data-u="thumb" src="~/Images/photography/014b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/015.jpg" />
                    <img data-u="thumb" src="~/Images/photography/015b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/016.jpg" />
                    <img data-u="thumb" src="~/Images/photography/016b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/017.jpg" />
                    <img data-u="thumb" src="~/Images/photography/017b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/018.jpg" />
                    <img data-u="thumb" src="~/Images/photography/018b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/019.jpg" />
                    <img data-u="thumb" src="~/Images/photography/019b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/020.jpg" />
                    <img data-u="thumb" src="~/Images/photography/020b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/021.jpg" />
                    <img data-u="thumb" src="~/Images/photography/021b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/022.jpg" />
                    <img data-u="thumb" src="~/Images/photography/022b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/023.jpg" />
                    <img data-u="thumb" src="~/Images/photography/023b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/024.jpg" />
                    <img data-u="thumb" src="~/Images/photography/024b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/025.jpg" />
                    <img data-u="thumb" src="~/Images/photography/025b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/026.jpg" />
                    <img data-u="thumb" src="~/Images/photography/026b.jpg" />
                </div>
                @*<div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/027.jpg" />
                    <img data-u="thumb" src="~/Images/photography/027b.jpg" />
                </div>*@
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/028.jpg" />
                    <img data-u="thumb" src="~/Images/photography/028b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/029.jpg" />
                    <img data-u="thumb" src="~/Images/photography/029b.jpg" />
                </div>
                <div data-p="150.00">
                    <img data-u="image" src="~/Images/photography/030.jpg" />
                    <img data-u="thumb" src="~/Images/photography/030b.jpg" />
                </div>
            </div>
            <!-- Thumbnail Navigator -->
            <div data-u="thumbnavigator" class="jssort101" style="position:absolute;left:0px;top:0px;width:240px;height:480px;background-color:#000;" data-autocenter="2" data-scale-left="0.75">
                <div data-u="slides">
                    <div data-u="prototype" class="p" style="width:99px;height:66px;">
                        <div data-u="thumbnailtemplate" class="t"></div>
                        <svg viewbox="0 0 16000 16000" class="cv">
                            <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
                            <line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
                            <line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
                        </svg>
                    </div>
                </div>
            </div>
            <!-- Arrow Navigator -->
            <div data-u="arrowleft" class="jssora093" style="width:50px;height:50px;top:0px;left:270px;" data-autocenter="2">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                    <polyline class="a" points="7777.8,6080 5857.8,8000 7777.8,9920 "></polyline>
                    <line class="a" x1="10142.2" y1="8000" x2="5857.8" y2="8000"></line>
                </svg>
            </div>
            <div data-u="arrowright" class="jssora093" style="width:50px;height:50px;top:0px;right:30px;" data-autocenter="2">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                    <polyline class="a" points="8222.2,6080 10142.2,8000 8222.2,9920 "></polyline>
                    <line class="a" x1="5857.8" y1="8000" x2="10142.2" y2="8000"></line>
                </svg>
            </div>
        </div>
    </div>
    
</div>


<a href="" id="mob-nav">
    <span class="slice1"></span>
    <span class="slice2"></span>
    <span class="slice3"></span>
    <p>Open Menu</p>
</a>

@section scripts
{
    <script type="text/javascript" src="~/scripts/functions.js"></script>
    <script src="~/Scripts/jssor.slider-27.1.0.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        jssor_1_slider_init = function () {

            var jssor_1_SlideshowTransitions = [
                { $Duration: 1200, $Zoom: 1, $Easing: { $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$OutQuad }, $Opacity: 2 },
                { $Duration: 1000, $Zoom: 11, $SlideOut: true, $Easing: { $Zoom: $Jease$.$InExpo, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                { $Duration: 1200, $Zoom: 1, $Rotate: 1, $During: { $Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8] }, $Easing: { $Zoom: $Jease$.$Swing, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$Swing }, $Opacity: 2, $Round: { $Rotate: 0.5 } },
                { $Duration: 1000, $Zoom: 11, $Rotate: 1, $SlideOut: true, $Easing: { $Zoom: $Jease$.$InQuint, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InQuint }, $Opacity: 2, $Round: { $Rotate: 0.8 } },
                { $Duration: 1200, x: 0.5, $Cols: 2, $Zoom: 1, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $Jease$.$InCubic, $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                { $Duration: 1200, x: 4, $Cols: 2, $Zoom: 11, $SlideOut: true, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $Jease$.$InExpo, $Zoom: $Jease$.$InExpo, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                { $Duration: 1200, x: 0.6, $Zoom: 1, $Rotate: 1, $During: { $Left: [0.2, 0.8], $Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8] }, $Opacity: 2, $Round: { $Rotate: 0.5 } },
                { $Duration: 1000, x: -4, $Zoom: 11, $Rotate: 1, $SlideOut: true, $Easing: { $Left: $Jease$.$InQuint, $Zoom: $Jease$.$InQuart, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InQuint }, $Opacity: 2, $Round: { $Rotate: 0.8 } },
                { $Duration: 1200, x: -0.6, $Zoom: 1, $Rotate: 1, $During: { $Left: [0.2, 0.8], $Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8] }, $Opacity: 2, $Round: { $Rotate: 0.5 } },
                { $Duration: 1000, x: 4, $Zoom: 11, $Rotate: 1, $SlideOut: true, $Easing: { $Left: $Jease$.$InQuint, $Zoom: $Jease$.$InQuart, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InQuint }, $Opacity: 2, $Round: { $Rotate: 0.8 } },
                { $Duration: 1200, x: 0.5, y: 0.3, $Cols: 2, $Zoom: 1, $Rotate: 1, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$OutQuad, $Rotate: $Jease$.$InCubic }, $Opacity: 2, $Round: { $Rotate: 0.7 } },
                { $Duration: 1000, x: 0.5, y: 0.3, $Cols: 2, $Zoom: 1, $Rotate: 1, $SlideOut: true, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $Jease$.$InExpo, $Top: $Jease$.$InExpo, $Zoom: $Jease$.$InExpo, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InExpo }, $Opacity: 2, $Round: { $Rotate: 0.7 } },
                { $Duration: 1200, x: -4, y: 2, $Rows: 2, $Zoom: 11, $Rotate: 1, $Assembly: 2049, $ChessMode: { $Row: 28 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$OutQuad, $Rotate: $Jease$.$InCubic }, $Opacity: 2, $Round: { $Rotate: 0.7 } },
                { $Duration: 1200, x: 1, y: 2, $Cols: 2, $Zoom: 11, $Rotate: 1, $Assembly: 2049, $ChessMode: { $Column: 19 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$OutQuad, $Rotate: $Jease$.$InCubic }, $Opacity: 2, $Round: { $Rotate: 0.8 } }
            ];

            var jssor_1_options = {
                $AutoPlay: 1,
                $SlideshowOptions: {
                    $Class: $JssorSlideshowRunner$,
                    $Transitions: jssor_1_SlideshowTransitions,
                    $TransitionsOrder: 1
                },
                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$
                },
                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,
                    $Rows: 2,
                    $SpacingX: 14,
                    $SpacingY: 12,
                    $Orientation: 2,
                    $Align: 156
                }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 960;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
        jssor_2_slider_init = function () {

            var jssor_2_SlideshowTransitions = [
                { $Duration: 1200, $Zoom: 1, $Easing: { $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$OutQuad }, $Opacity: 2 },
                { $Duration: 1000, $Zoom: 11, $SlideOut: true, $Easing: { $Zoom: $Jease$.$InExpo, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                { $Duration: 1200, $Zoom: 1, $Rotate: 1, $During: { $Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8] }, $Easing: { $Zoom: $Jease$.$Swing, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$Swing }, $Opacity: 2, $Round: { $Rotate: 0.5 } },
                { $Duration: 1000, $Zoom: 11, $Rotate: 1, $SlideOut: true, $Easing: { $Zoom: $Jease$.$InQuint, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InQuint }, $Opacity: 2, $Round: { $Rotate: 0.8 } },
                { $Duration: 1200, x: 0.5, $Cols: 2, $Zoom: 1, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $Jease$.$InCubic, $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                { $Duration: 1200, x: 4, $Cols: 2, $Zoom: 11, $SlideOut: true, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $Jease$.$InExpo, $Zoom: $Jease$.$InExpo, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
                { $Duration: 1200, x: 0.6, $Zoom: 1, $Rotate: 1, $During: { $Left: [0.2, 0.8], $Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8] }, $Opacity: 2, $Round: { $Rotate: 0.5 } },
                { $Duration: 1000, x: -4, $Zoom: 11, $Rotate: 1, $SlideOut: true, $Easing: { $Left: $Jease$.$InQuint, $Zoom: $Jease$.$InQuart, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InQuint }, $Opacity: 2, $Round: { $Rotate: 0.8 } },
                { $Duration: 1200, x: -0.6, $Zoom: 1, $Rotate: 1, $During: { $Left: [0.2, 0.8], $Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8] }, $Opacity: 2, $Round: { $Rotate: 0.5 } },
                { $Duration: 1000, x: 4, $Zoom: 11, $Rotate: 1, $SlideOut: true, $Easing: { $Left: $Jease$.$InQuint, $Zoom: $Jease$.$InQuart, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InQuint }, $Opacity: 2, $Round: { $Rotate: 0.8 } },
                { $Duration: 1200, x: 0.5, y: 0.3, $Cols: 2, $Zoom: 1, $Rotate: 1, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$OutQuad, $Rotate: $Jease$.$InCubic }, $Opacity: 2, $Round: { $Rotate: 0.7 } },
                { $Duration: 1000, x: 0.5, y: 0.3, $Cols: 2, $Zoom: 1, $Rotate: 1, $SlideOut: true, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $Jease$.$InExpo, $Top: $Jease$.$InExpo, $Zoom: $Jease$.$InExpo, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InExpo }, $Opacity: 2, $Round: { $Rotate: 0.7 } },
                { $Duration: 1200, x: -4, y: 2, $Rows: 2, $Zoom: 11, $Rotate: 1, $Assembly: 2049, $ChessMode: { $Row: 28 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$OutQuad, $Rotate: $Jease$.$InCubic }, $Opacity: 2, $Round: { $Rotate: 0.7 } },
                { $Duration: 1200, x: 1, y: 2, $Cols: 2, $Zoom: 11, $Rotate: 1, $Assembly: 2049, $ChessMode: { $Column: 19 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$OutQuad, $Rotate: $Jease$.$InCubic }, $Opacity: 2, $Round: { $Rotate: 0.8 } }
            ];

            var jssor_2_options = {
                $AutoPlay: 1,
                $SlideshowOptions: {
                    $Class: $JssorSlideshowRunner$,
                    $Transitions: jssor_2_SlideshowTransitions,
                    $TransitionsOrder: 1
                },
                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$
                },
                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,
                    $Rows: 2,
                    $SpacingX: 14,
                    $SpacingY: 12,
                    $Orientation: 2,
                    $Align: 156
                }
            };

            var jssor_2_slider = new $JssorSlider$("jssor_2", jssor_2_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 960;

            function ScaleSlider() {
                var containerElement = jssor_2_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_2_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            jssor_1_slider_init();
            jssor_2_slider_init();
            $("img[data-u='image']").css({ 'height': '', 'display': '' });
            $("div[data-p='150.00']").css({ 'text-align': 'center'});
        });
    </script>

    <style>
        h1 {
            padding-top: 15px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: auto;
            text-align: center;
            font-family: arial;
        }

    </style>
}

