body {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #E5E9ED;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
@media screen and (min-width:767px) {
    #content-expertise {
        padding: 150px 0 0;
        padding-left: 150px;
        padding-right: 150px;
    }

    #glenn-espiritu {
        padding: 150px 0 0;
        padding-left: 150px;
        padding-right: 150px;
    }

    #marissa-olarte-helbing {
        padding: 150px 0 0;
        padding-left: 150px;
        padding-right: 150px;
    }

    #lloyd-miguel {
        padding: 150px 0 0;
        padding-left: 150px;
        padding-right: 150px;
    }
}